<html>
	<head>
		<title>upload and display image</title>
	</head>
	<body>
		<h2>
			{% if intro %}
				{{intro}}
			{% endif %}
		</h2>
		<p>
			{% if message %}
				<ul>
					<li>{{ message }}</li>
				</ul>
			{% endif %}
		</p>

		{% if filename %}
			<div>
				<img src="{{ url_for('display_image', filename=filename) }}" name='picture'>
			</div>
			<div>
				<a href="{{ url_for('predict', filename=filename)}}">
					<input type="button" value="predict">
				</a>
			</div>
		{% endif %}
		<form method="post" action="/upload" enctype="multipart/form-data">
			
			<p>
				<input type="file" name="file" autocomplete="off" required>
			</p>
			
			<p>
				<input type="submit" value="Submit">
			</p>
		</form>
	</body>
</html>
