<html>
	<head>
		<title>upload and display image</title>
	</head>
	<body>
		<h2>Select an image to upload and display</h2>
		<p>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			{% endwith %}
		</p>
		{% if filename %}
			<div>
				<img src="{{ url_for('display_image', filename=filename) }}">
			</div>
		{% endif %}
		<form method="post" action="/upload" enctype="multipart/form-data">
			
			<p>
				<input type="file" name="file" autocomplete="off" required>
			</p>
			
			<p>
				<input type="submit" value="Submit">
			</p>
		</form>
	</body>
</html>
